body{
  padding: 25px;
  background-color: rgb(137,207,240);
}
.title {
	color: #5C6AC4;
	text-align: center;
}
button{
  color: rgb(0,0,0);
  background: rgb(128,128,128);
  width: 250px;
  border-color: rgb(0,0,0);
  text-align: center;
  padding: 40px 55px;
  font-size: 20px;
  border-radius: 50px;
}
nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 50px 25px;
  font-size: 50px;
  text-align: center;
}
button:hover {
  background: #5C6AC4;
  color: #fff;
  cursor: pointer;
}
.welcome {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
}